



$primary-color: #626262;
$secondary-color: #8B3FFD;
$success-color: #1eb05b;
$error-color: #e74c3c;
$warning-color: #f1c40f;
$info-color: #3498db;

$basis-color : #eef7ff;

$bg-secondary : white;
$text-primary : #232323;





//For Buttons
$button-hover: #8B3FFD;
$input-focus: #b7b6b67a;



// size 
$size : 100%;


// border and radius
$radus: .28em;
$rounded: 50%;