
// GLOBAL STYLE ROOT //
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    // Element Important , for height
    height: 100%;
}



:root {
    // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    // background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  //Variables & Mixins
@import './variables/variables';
@import './mixins/mixins';

  ::selection {
     background: transparent;
     color: $secondary-color;
  }



  html,body {
    font-size: 1.06vw;
    background-color: $basis-color;
    color: $text-primary;
    max-width: $size;
    height: $size;
  }



  // layouts Components
@import './components/app';
@import './components/dashboard';
@import './components/header';
@import './components/createQrCode';
@import './components/qrcodes';