 

 // app


 .app {
    height: $size;

    &__container {
        height: $size;
    }

    &__body {
        padding-left: 14em;
        padding-right: 1em;
        width: $size;
        height: $size;
    }
 }