


.createQrCode {
    height: $size - 18%;
    padding-top: 1em;
    
    &__container {
       @include caption;
    }

    &__title {
       @include title;
    }

    &__button {
        @include btn;
    }

    &__images {
        @include center;
        // justify-content: flex-end
        // border: 1px solid red;
    }

    &__image {
        @include center;
        padding-top: 1em;
        padding-bottom: .5em;
        flex-direction: column;
        // border: 1px solid $secondary-color;
        width: 20em;
        height: $size;
    }

    &__img {
        margin-bottom: 1em;
    }

    &__id {
        background: $bg-secondary;
        width: $size - 55%;
        text-align: center;
    }

    &__print {
        @include reset;
        padding-left: 7em;
        background: transparent;

        &__icon {
            color: $primary-color;
            cursor: pointer;
            opacity: .3;
            transition: opacity .5s ease-in-out;

            &:hover {
                opacity: .8;
            }

            :active {
                color: $secondary-color;
            }
        }
    }
}