


.header {
    // background: green;
    height: 5.2em;

    &__container {
        @include between;
        height: $size
    }

    &__org {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 400;
        color: $text-primary;
    }

    &__caption {
        position: relative
    }

    &__user {
        @include flex;
        cursor: pointer;

        &:hover {
            .header__text {
                opacity: .7;
            }
        }
    }

    &__image {
        margin-right: .6em;
        border: 1px solid darken($basis-color, 2);
        border-radius: $rounded;
        overflow: hidden;
        width: 2.5em;
        height: 2.5em;
    }

    &__img {
        object-fit: cover;
        width: $size;
        height: $size;
    }

    &__text {
        @include flex;
        flex-direction: column;
        transition: opacity .3s ease-in-out;
    }

    &__name {
        @include between;

        img {
            margin-left: .4em;
        }
    }

    &__roles {
        font-size: .7em;
        color: $primary-color;
        opacity: .7;
    }

    &__menu {
        position: absolute;
        bottom: -5.5em;
        right: 0;
        @include reset;
        @include caption;
        padding: .5em 0;
        width: auto;
        height: auto;
        transition: transform .5s ease-in-out;
        transform-origin: top right;
        transform: scale(0);
    
        &__item {
            margin-bottom: .3em;
            padding: .2em .8em;
            font-size: .8em;
            font-weight: 300;

            &:last-child {
                color: $error-color;
                cursor: pointer;
                transition: opacity .3s ease-in-out;
                width: fit-content;
                font-weight: 400;

                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}