



.listqrCode {
    padding: 1em 0;
    // height: $size;

    &__container {
        @include caption;
        width: $size;
    }

    &__title {
        @include title;
    }

    &__list {
        @include reset;
        @include flex;
        flex-wrap: wrap;
    }

    &__item {
        @include align;
        padding: .5em;
        margin-right: .5em;
        margin-bottom: .3em;
        // width: $size - 50%;
        background: rgb(255, 255, 255);
        // border: 1px solid #ccc;
    }

    &__image {
        margin-right: 1em;
    }

    &__id {
        margin-right: 1em;
    }


    &__img {
        object-fit: contain;
        width: 4em;
        height: 4em;
    }

    &__delete {
        @include btn;
        background-color: $error-color;
    }

}