@mixin flex {
    display: flex;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin align {
    display: flex;
    align-items: center;
}

@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


// reset input and link 
@mixin reset {
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}


@mixin caption {
    padding: 1em;
    background-color: $bg-secondary;
    border: 1px solid darken($basis-color, 8);
    box-shadow: 0 0 2px 1px darken($basis-color, 2);
    border-radius: $radus - .01em;
    width: $size;
    height: $size;
}


@mixin btn {
    @include reset;
    padding: 1em 1em;
    color: $bg-secondary;
    border-radius: $radus;
    cursor: pointer;
    background-color: $secondary-color;
    transition: opacity .4s ease-in-out;

    &:hover {
        opacity: .85;
    }
}


@mixin title {
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 400;
    color: $text-primary;
}